:root {
    --main-font: 'Anton SC';
    --secondary-font: 'Lato';
}

body{
    font-family: var(--main-font);
    background-image: url(./img/background.webp);
    margin: 0px;
    background-size: cover;
    background-position: center;
}

h1{
    margin: 0;
}

header {
    text-align: center;
    color: brown;
}

.descr{
    font-family: var(--secondary-font);
}

.viniloImg {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem auto;
    width: 1000px;
    padding: 30px;
    border: 1px solid red;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
}

.title {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.bodycard {
    padding: 10px;
    text-align: center;
}

.button {
    background-color: #713424;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: red;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.text {
    flex: 1;
    padding-right: 20px;
    text-align: center;
}

.image{
    margin-top: 5rem;
    flex: 1;
    background-size: cover;
    background-position: center;
}

/* Footer */
.footer {
    background-color: #713424;
    color: #fff;
    padding: 40px 0 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

/* Logo del footer */
.footer-logo-image {
    max-width: 150px;
    margin-bottom: 10px;
}

/* Navegación en el footer */
.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: red;
}

/* Redes sociales */
.footer-social {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: red;
}

/* Pie de página inferior */
.footer-bottom {
    border-top: 2px solid black;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #ccc;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-nav ul {
        flex-direction: column;
    }
}